.header {
	font-size: 240%;
	text-align: center;
	padding: 20px;
	font-family: verdana;
	color: orange
}

.footer {
	font-size: 120%;
	padding: 10px;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0px;
	font-family: verdana;
	color: orange
}

.grid-left {
	display: grid;
	position: absolute;
	grid-gap: 55px 10px;
	grid-template-columns: repeat(6, 200px);
	padding: 10px 40px;
}

.grid-right {
	display: grid;
	grid-template-columns: repeat(3, 80px);
	grid-gap: 10px;
	position: absolute;
	right: 0px;
	padding: 10px 40px;
}

.grid-right :hover {
	color: black;
}

.grid-right>input {
	color: grey;
	border-radius: 5px;
	border: 1px solid grey;
	font-size: 15px;
	padding: 10px 10px;
}

.grid-right>button {
	color: grey;
	border-radius: 5px;
	border: 1px solid grey;
}

.grid-right>select {
	color: grey;
	border-radius: 5px;
	border: 1px solid grey;
	font-size: 14px;
	height: 30px;
}

.input {
	grid-column: 1/4;
}

.add {
	grid-column: 1/2;
	grid-row: 3/4;
	font-size: 20px;
	padding: 10px 0px;
}

.remove {
	grid-column: 3;
	grid-row: 3;
	font-size: 20px;
	padding: 10px 0px;
}

.other {
	grid-row: 4;
	color: grey;
	border-radius: 5px;
	border: 1px solid grey;
	text-align: center;
	padding: 5px 5px;
	font-size: 16px;
}

.book_mark {
	grid-column: 1/4;
	grid-row: 5;
}

.tile_button {
	background-color: #EAECEE;
	padding: 20px 0px;
	text-align: center;
	font-size: 150%;
	border-radius: 5px;
	border: 1px solid;
	width: 80%;
	opacity: .6;
}

.tile_button:hover {
	box-shadow: 4px 4px;
}