
/* -------------------- header and footer -------------------- */
.header {
	font-size: 250%;
	padding: 1%;
	text-align: center;
	font-family: verdana;
	color: orange
}

.footer {
	padding: 1%;
	position: absolute;
	bottom: 0px;
	font-family: verdana;
	width: 1580px;
}

.console-button {
	background-color: #EAECEE;
	font-size: 130%;
	text-align: center;
	opacity: .6;
    cursor: pointer;
	padding: 1%;
}

.console-text {
	display: none;
	resize: none;
}

.console-text:focus {
    outline: none !important;
}

/* -------------------- main grid container -------------------- */
.grid-main {
	display: grid;
	grid-template-columns: 80% 20%;
	padding: 1em 2em;
}

/* -------------------- left grid with tiles -------------------- */
.grid-left {
	display: grid;
	grid-template-columns: repeat(6, 13em);
	grid-gap: 3em 4em;
	padding: 1em 1em;
}

.tile_button {
	cursor: pointer;
	background-color: #EAECEE;
	text-align: center;
	font-size: 150%;
	padding: 1em 1em;
	border-radius: 5px;
	border: 1px solid;
	opacity: .6;
}

.tile_button:hover {
	box-shadow: 5px 5px;
}

/* -------------------- right grid -------------------- */
.grid-right {
	display: grid;
	grid-gap: 1em 1em;
	text-align: center;
	padding: 1em 1em;
}

/* -------------------- right-grid buttons -------------------- */
.grid-right-buttons {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: auto;
	grid-template-areas:
		"add . remove"
		"save clear restore"
		"select select select"
		"popup popup popup";
	grid-gap: 1em 1em;
	text-align: center;
	background-color: #EAECEE;
	padding: 1em 1em;
	border-radius: 5px;
	border: 2px solid black;
	height: 13em;
}

.button {
	cursor: pointer;
	color: grey;
	font-size: 100%;
	text-align: center;
	padding: 1em 1em;
	border-radius: 5px;
	border: 1px solid grey;
	height: 80%;
	width: 100%;
}

.button :hover {
	color: black;
}

.add {
	grid-area: add;
	padding: 1em 0em;
	height: 100%;
}

.remove {
	grid-area: remove;
	padding: 1em 0em;
	height: 100%;
}

.save {
	grid-area: save;
	grid-row-start: 2;
}

.clear {
	grid-area: clear;
	grid-row-start: 2;
}

.restore {
	grid-area: restore;
	grid-row-start: 2;
}

.select {
	grid-area: select;
}

/* -------------------- right grid add-pop-up -------------------- */
.grid_popup-add {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: auto;
	grid-template-areas:
		"title title title"
		"url url url"
		"cancel . addTile";
	background-color: #EAECEE;
	grid-gap: 1em;
	text-align: center;
	border-radius: 5px;
	border: 1px solid grey;
	padding: 1em 1em;
	border: 2px solid black;
	height: 12em;
}

.title {
	grid-area: title;
	background-color: white;
	border: 1px solid grey;
	padding: 1em 1em;
}

.url {
	grid-area: url;
	background-color: white;
	border: 1px solid grey;
	padding: 1em 1em;
}

.cancel {
	grid-area: cancel;
	background-color: white;
}

.addTile {
	grid-area: addTile;
	background-color: white;
}

/* -------------------- right grid remove-pop-up -------------------- */
.grid_popup-remove {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: auto;
	grid-template-areas:
		"title title title"
		"cancel . removeTile";
	background-color: #EAECEE;
	grid-gap: 1em;
	text-align: center;
	padding: 1em 1em;
	border-radius: 5px;
	border: 2px solid black;
	height: 9em;
}

.removeTile {
	grid-area: removeTile;
	background-color: white;
}
