/* -------------------- header and footer -------------------- */
.header {
	font-size: 240%;
	text-align: center;
	padding: 20px;
	font-family: verdana;
	color: orange
}

.footer {
	font-size: 120%;
	padding: 10px;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0px;
	font-family: verdana;
	color: orange
}

/* -------------------- left grid with tiles -------------------- */
.grid-left {
	display: grid;
	position: absolute;
	grid-gap: 55px 10px;
	grid-template-columns: repeat(6, 200px);
	padding: 10px 40px;
}

.tile_button {
	background-color: #EAECEE;
	padding: 20px 0px;
	text-align: center;
	font-size: 150%;
	border-radius: 5px;
	border: 1px solid;
	width: 80%;
	opacity: .6;
}

.tile_button:hover {
	box-shadow: 4px 4px;
}

/* -------------------- right grid with buttons -------------------- */
.grid-right {
	display: grid;
	grid-template-columns: repeat(3, [ col ] 80px);
	grid-template-rows: repeat(4, [ row ] auto);
	grid-gap: 10px;
	padding: 10px 40px;
	position: absolute;
	right: 0px;
	text-align: center;
}

.grid-right :hover {
	color: black;
}

.button {
	color: grey;
	border-radius: 5px;
	border: 1px solid grey;
	padding: 10px 10px;
}

.add {
	grid-column: col/span 1;
	grid-row: row 1;
	font-size: 200%;
}

.remove {
	grid-column: col 3/span 1;
	grid-row: row 1;
	font-size: 200%;
}

.save {
	grid-column: col/span 1;
	grid-row: row 2/span 1;
	font-size: 120%;
}

.clear {
	grid-column: col 2/span 1;
	grid-row: row 2;
	font-size: 120%;
}

.restore {
	grid-column: col 3/span 1;
	grid-row: row 2;
	font-size: 120%;
}

.select {
	grid-column: col 1/span 3;
	grid-row: row 3;
	font-size: 120%;
}

/* -------------------- right grid pop-up -------------------- */
.grid_input {
	grid-column: col 1/span 3;
	grid-row: row 4;
	display: grid;
	grid-template-columns: repeat(3, [ col ] 70px);
	grid-template-rows: repeat(2, [ row ] auto);
	background-color: #EAECEE;
	grid-gap: 10px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid grey;
	padding: 10px 15px;
	visibility: hidden;
}

.title {
	grid-column: col 1/span 3;
	grid-row: 1;
	background-color: white;
	border: 1px solid grey;
	padding: 10px 5px;
}

.url {
	grid-column: col 1/span 3;
	grid-row: 2;
	background-color: white;
	border: 1px solid grey;
	padding: 10px 5px;
}

.cancel {
	grid-column: col 1/span 1;
	grid-row: 3;
	background-color: white;
}

.addTile {
	grid-column: col 3/span 1;
	grid-row: 3;
	background-color: white;
}

.removeTile {
	grid-column: col 3/span 1;
	grid-row: 3;
	background-color: white;
	visibility: hidden;
}