
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=BenchNine:700);


/* -------------------- header and footer -------------------- */
.header {
	font-size: 350%;
	padding: 1%;
	font-family: verdana;
	text-align: center;
	font-style: italic;
	color: orange
}

.headerChrome {
 	background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
 	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
 	-webkit-text-stroke: 6px #f5f5f5;
	font-size: 90px;
	font-family: 'Titillium Web', sans-serif;
	font-style: italic;
	text-align: center;
}

.word {
	font-family: "Titillium";
	font-size:6em;
	color:orange;
	text-align: center;
	font-style: italic;
}

.footer {
	overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
	font-family: verdana;
 	width: 95%;
}

.footer_button {
	float: left;
    margin: 2px;
	background-color: orange;
	color: white;
	font-size: 110%;
	text-align: center;
	padding: 1em 1em;
	border-radius: 5px;
	cursor: pointer;
}

.console-text {
	width: 99%;
	height: 15em;
	display: none;
	resize: none;
}

.console-text:focus {
    outline: none !important;
}

/* -------------------- main grid container -------------------- */
.grid-main {
	display: grid;
	grid-template-columns: 80% 20%;
	padding: 1em 2em;
}

/* -------------------- left grid with tiles -------------------- */
.grid-left {
	display: grid;
	grid-template-columns: 14% 14% 14% 14% 14% 14%;
	grid-gap: 3em 3em;
	padding: 1em 1em;
}

.tile_button {
	cursor: pointer;
	color: grey;
	text-align: left;
	font-size: 150%;
	padding: 1em 0em 1em 1em;
  	border-radius: 5px;
	border: 1px solid grey;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.3);
    transition: 0.2s;
}

.tile_button:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

/* -------------------- right grid -------------------- */
.grid-right {
	display: grid;
	grid-gap: 1em 1em;
	text-align: center;
	padding: 1em 1em;
}

/* -------------------- right-grid buttons -------------------- */
.grid-right-buttons {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: auto;
	grid-template-areas:
		"add . remove"
		"save clear restore"
		"select select select"
		"popup popup popup";
	grid-gap: 1em 1em;
	text-align: center;
	background-color: #EAECEE;
	padding: 1em 1em;
	border-radius: 5px;
	border: 1px solid grey;
	height: 13em;
    transition: 0.3s;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.3);
}

.grid-right-buttons:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.button {
	cursor: pointer;
	color: grey;
	font-size: 100%;
	text-align: center;
	padding: 1em 1em;
	border-radius: 5px;
	border: 1px solid grey;
	height: 80%;
	width: 100%;
}

.button :hover {
	color: black;
}

.add {
	grid-area: add;
	padding: 1em 0em;
	height: 100%;
}

.remove {
	grid-area: remove;
	padding: 1em 0em;
	height: 100%;
}

.save {
	grid-area: save;
	grid-row-start: 2;
}

.clear {
	grid-area: clear;
	grid-row-start: 2;
}

.restore {
	grid-area: restore;
	grid-row-start: 2;
}

.select {
	grid-area: select;
}

/* -------------------- right grid add-pop-up -------------------- */
.grid_popup-add {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: auto;
	grid-template-areas:
		"title title title"
		"url url url"
		"cancel . addTile";
	background-color: #EAECEE;
	grid-gap: 1em;
	text-align: center;
	border-radius: 5px;
	border: 1px solid grey;
	padding: 1em 1em;
	border: 2px solid black;
	height: 12em;
}

.title {
	grid-area: title;
	background-color: white;
	border: 1px solid grey;
	padding: 1em 1em;
}

.url {
	grid-area: url;
	background-color: white;
	border: 1px solid grey;
	padding: 1em 1em;
}

.cancel {
	grid-area: cancel;
	background-color: white;
}

.addTile {
	grid-area: addTile;
	background-color: white;
}

/* -------------------- right grid remove-pop-up -------------------- */
.grid_popup-remove {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: auto;
	grid-template-areas:
		"title title title"
		"cancel . removeTile";
	background-color: #EAECEE;
	grid-gap: 1em;
	text-align: center;
	padding: 1em 1em;
	border-radius: 5px;
	border: 2px solid black;
	height: 9em;
}

.removeTile {
	grid-area: removeTile;
	background-color: white;
}
